@{
    ViewBag.Title = "About";
}

<header style="background: url('https://us.costacoffee.com/media/wysiwyg/costa/learn/our-coffee-header_1.jpg');">
    <div class="overlay">
        <img style="width:10%; height:10%" src="https://cdn.shopify.com/s/files/1/2714/0802/files/Taft_Coffee_Beyaz_Logo_200x200_f912eace-e50d-4c5e-84f2-c7e9169f041d_125x.png?v=1580487459" />
        @*<h1 style="font-style:oblique;font-size:55px">TAFT COFFEE CO.</h1>*@
        <h1>Dünyanın En Güçlü Kahvesi</h1>
        <h3>Yüksek Kafein <br />Rahat İçim!</h3>
        <br>

    </div>
</header>

<div style="width:50%; color:black; margin-left:auto; margin-right:auto; padding-top:50px; padding-bottom:150px">

    <h1 style="text-align:center">HAKKIMIZDA</h1>
    <hr />
    <br />
    <div style="text-align: center;">
        <h2>TAFT COFFEE</h2>
        <p style="font-size:18px; text-indent:15px">
            Uyandırmaya gücü yetemeyen kahvelere bir tepki olarak Türkiye’nin <b>ilk yüksek kafeinli kahve markası</b> TAFT Coffee Co.’yu 2017 senesinde kurduk. <br />
        </p>
        <p style="font-size:18px; text-indent:15px">
            Ayılmanın saatler sürdüğü sabahlar, uykudan erken sonlanan geceler ve kahve bağımlılığımız bizi saatler boyu ayakta tutacak bir kahvenin arayışına soktu. Bulamayınca biz yapalım dedik. Ama hafif bir içimle. Aylarca uğraştık, eğitimler aldık, denemeler yaptık. Sonunda aradığımızı yaptık. <strong>Dünyanın en yüksek kafeinli kahvesi</strong>ni rahat bir içimle sunduk.
        </p>
        <h2>DÜNYANIN EN GÜÇLÜ KAHVESİ</h2>
        <img src="https://cdn.shopify.com/s/files/1/2714/0802/files/coffeetowakethedead_42b46837-7978-4d7a-b2a6-d53e841b73c5_480x480.gif?v=1548072780" />
        <p style="font-size:18px; text-indent:15px">Gıda Tarım Bakanlığının ve tüm dünyada geçerliliği olan İsviçre merkezli SGS Laboratuvarı'nın yaptığı testler sonucu TAFT, kilogram başında <b>23,2 gram kafein</b> oranıyla rakiplerinin çok ötesinde, dünyanın en yüksek kafein oranına sahip kahvesi olarak <b>zirvede</b> bulunuyor. Bu test sürecini detaylıca öğrenmek için linke tıklayabilirsiniz.</p>
        <p style="font-size:18px; text-indent:15px"> Sahip olduğu bu yüksek kafein ise tamamiyle kullanılan çekirdeklerin yapısal özelliklerinden geliyor. Hiçbir şekilde kimyasal işlem görmeyen ve katkı maddesi içermeyen TAFT <b>%100 doğal</b> haliyle sizlere sunuluyor. Yumuşak içimi ve sahip olduğu aromasıyla da tüm kahveseverlerin beğenisini kazanarak <b>lezzet ve enerji</b>yi <b>bir arada</b> sunuyor.<br></p>
        <h2>Kafein Oranı</h2>

        <p style="font-size:18px; text-indent:15px" ">Yüksek kafein oranını <b>rahat bir içimle </b>sunduğumuz TAFT Kahve’mizi uzun bir kavrum maratonu sonrası 25 farklı çekirdeğin arasından denediğimiz harmanlar sonrası belirledik. Güney Amerika - Pasifik harmanına karar verildi. Kuruluşundan bu yana içilen <b>5 milyon fincan TAFT</b> sonucunda ise içenlerden yüksek kafeinin etkisi ve bu kafein oranına rağmen lezzeti ve rahat içim sunmasının verdiği şaşkınlık yapılan yorumların çok büyük bir kısmını oluşturdu.</p>
        <img src="https://cdn.shopify.com/s/files/1/2714/0802/files/taft_coffee_kafein_tablosu_480x480.jpg?v=1548431564" alt="Kafein Tablosu" style="float: none;">
        <p style="font-size:18px; text-indent:15px">Standart filtre kahvelerin kafein oranı %1 iken, TAFT’ın kafein oranı son yapılan test sonucuna göre <strong>%2,32</strong>. Kısa bir hesapla bir fincan filtre kahveden alacağınız kafein miktarı 150 mg iken TAFT Kahve’den yapılmış bir fincan filtre kahvede bu miktar <strong>350 mg</strong>’lara yaklaşıyor.</p>
       
        <h2><b>Fabrikamız</b></h2>
        <p style="font-size:18px; text-indent:15px">Kahvemizin üretimini İstanbul İMES Sanayi Sitesi içerisindeki fabrikamızda gerçekleştiriyoruz. <strong>FSSC Gıda Belgesi sertifikası ve ISO 22001 Gıda Güvenliği belgesine</strong> sahip olan fabrikamızda üretim standartlarımızı üst düzeyde tutarak hijyen ve kaliteden asla ödün vermiyoruz.<br><br>Kavurmahanemizde, çiğ çekirdeklerimizi harmanlıyor ve <strong>SCA</strong> belgeli uzman kavurucu gözetiminde ustalıkla kavuruyoruz. Optimum aroma düzeyine ulaşması için bir süre dinlendirdiğimiz kahveleri, sipariş sonrası öğüterek en taze haliyle paketliyor ve günlük kargolama yapıyoruz.</p>



    </div>

</div>


