@{
    ViewBag.Title = "Contact";
}
<header style="background: url('https://www.grupoeuroparque.com/wp-content/uploads/2018/06/contact-header.jpg'); ">
        <div class="overlay">
            <img style="width:10%; height:10%" src="https://cdn.shopify.com/s/files/1/2714/0802/files/Taft_Coffee_Beyaz_Logo_200x200_f912eace-e50d-4c5e-84f2-c7e9169f041d_125x.png?v=1580487459" />
            @*<h1 style="font-style:oblique;font-size:55px">TAFT COFFEE CO.</h1>*@
            <h1>Dünyanın En Güçlü Kahvesi</h1>
            <h3>Yüksek Kafein <br />Rahat İçim!</h3>
            <br>

        </div>
    </header>

<div style="width:60%; margin-left:auto; margin-right:auto; padding-top:100px; padding-bottom:50px">
    <h2 style="text-align:center">İletişim Bilgilerimiz</h2>
    <br />
    <hr />
    <br />

    <div>
        <div style="text-align:center">
            <h4 style="margin-bottom: 7px;">Dünyanın En Güçlü Kahvesi Taft Coffee ile Yüksek Kafeinli Kahveler, Etkinlikler <br />ve Haberler Hakkında Bilgi Almak için Bizimle İletişime Geçebilirsiniz.</h4>
            @*<p>TAFT COFFEE CO</p>*@
            <img src="https://cdn.shopify.com/s/files/1/2714/0802/files/Taft_Coffee_Beyaz_Logo_200x200_f912eace-e50d-4c5e-84f2-c7e9169f041d_125x.png?v=1580487459" />

            <p>
                Dudullu OSB Mh. İmes Sanayi Sitesi  <br>
                B-206 Sk. No:35
            </p><br>
            Ümraniye / İstanbul<br>
            <p>Seher Köroğlu</p>
            <p style="margin-bottom: 5px;"><a href="tel:+90 (535) 970 17 16">T: +90 (535) 970 17 16</a></p>
            <p><a href="mailto:teyavuz67@gmail.com">teyavuz67@gmail.com</a></p>

            Çalışma Saatlerimiz : Pazartesi - Cumartesi 10:00-18:00
        </div>
    </div>
    <br />
    <hr />
    <br />
    <br />

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.0137553018003!2d29.165067215718764!3d41.00307212769354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac6449508b887%3A0xc179cf22b5035757!2sTAFT%20Coffee%20Co.!5e0!3m2!1str!2str!4v1639145636959!5m2!1str!2str" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
