@{
    ViewBag.Title = "Home Page";
}
<header style="background: url('../../Content/Photos/taft_coffee_yuksek_kafeinli_filtre_kahve_home_banner_23.2gr_2000x.jpg'); ">
    <div class="overlay">
        <img style="width:10%; height:10%" src="https://cdn.shopify.com/s/files/1/2714/0802/files/Taft_Coffee_Beyaz_Logo_200x200_f912eace-e50d-4c5e-84f2-c7e9169f041d_125x.png?v=1580487459" />
        @*<h1 style="font-style:oblique;font-size:55px">TAFT COFFEE CO.</h1>*@
        <h1>Dünyanın En Güçlü Kahvesi</h1>
        <h3>Yüksek Kafein <br />Rahat İçim!</h3>
        <br>

    </div>
</header>

<div style="display:flex; justify-content: center">
    <!-- Slider kutusu -->
    <div style="padding-top:20px" class="slideshow-container">

        <!-- Fotolar ve içerikleri -->
        <div class="mySlides fade">
            <img src="https://cdn.shopify.com/s/files/1/2714/0802/articles/taft_coffee_yuksek_kafeinli_filtre_kahve_japanese_cold_brew_nedir_nasil_yapilir_1400x.jpg?v=1594283632" style="height: 700px; width: 1400px">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <img src="https://cdn.shopify.com/s/files/1/2714/0802/articles/taft_coffee_blog_1_1400x.jpg?v=1522668334" style="height:700px; width:1400px">
            <div class=""></div>
        </div>

        <div class="mySlides fade">
            <img src="https://cdn.shopify.com/s/files/1/2714/0802/articles/taft-coffee-yuksek-kafeinli-filtre-kahve-daha-iyi-kahve-demlemek-icin-tuyo_1600x.jpg?v=1626437525" style="height: 700px; width: 1400px">
            <div class="text"></div>
        </div>
    </div>
</div>


<div style="width:60%; margin-left:auto; margin-right:auto; padding-bottom:250px">
    <div style="padding-top:50px">
        <table>
            <tr>
                <th>
                    <h1 style="font-size:50px">DÜNYANIN EN GÜÇLÜ KAHVESİ</h1>
                    <p style="padding-top:10px; font-size:xx-large">
                        2016 yılında, %100 doğal bir şekilde yüksek kafeini yumuşak bir içimle sunabileceğimiz özel bir kahve yapmak için çalışmalarımızı başlattık.

                        Uzun çalışmaların ve sayısız denemelerin ardından aradığımız eşsiz kahve harmanımızı bulduk ve İsviçre merkezli SGS Gıda Kontrol Laboratuvarı’na kafein testine gönderdik.

                        Ve sonuç beklediğimiz gibi: TAFT, dünyanın açık ara en güçlü kahvesi!
                    </p>
                </th>
                <th>
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/files/taft_coffee_yuksek_kafeinli_filtre_kahve_coffee_to_wake_the_dead_small_b506e512-e530-40c3-aa02-4e6c63cfc7d8_700x.png?v=1620068321" />

                </th>
            </tr>
        </table>

    </div>

    <hr />

    <h1 style="text-align:center; padding-top:inherit">ÇOK SATANLAR</h1>

    <hr />

    <table style="display: flex; justify-content: center;">
        <tr>
            <th style="padding-right: 75px;">

                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_baslangic_seti_250gr_600x.jpg?v=1627412502" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT BAŞLANGIÇ SETİ</h1>
                    <p class="price">149.90TL</p>
                    <p>
                        Kahve Gramajı:
                        250gr
                    </p>
                    <p><button>HEMEN SATIN ALIN</button></p>

                </div>
            </th>
            <th style="padding-right:75px; height:520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_1kg_39889559-203e-492b-9043-065b3901b232_600x.jpg?v=1627412556" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT KAHVE 1 KG</h1>
                    <p class="price">219.90TL</p>
                    <p>
                        Öğütme Metodu:
                        French Press
                    </p>
                    <p style="padding-top:25px"><button >HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_500gr_0bfaebf5-6b69-4c87-b0c1-5fb52dec72a4_600x.jpg?v=1627412694" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT KAHVE 500 GR</h1>
                    <p class="price">119.90TL</p>
                    <p>
                        Öğütme Metodu:
                        French Press
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_250gr_b1544cb4-dcca-45cc-b74f-6c43b6f01ef8_600x.jpg?v=1627412642" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT KAHVE 250 GR</h1>
                    <p class="price">69.90TL</p>
                    <p>
                        Öğütme Metodu:
                        French Press
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
        </tr>
    </table>

</div>





<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Butonlar
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Foto altındaki 3 nokta
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }

    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 3000); // 5 saniyede bir foto değişimi
    }
</script>
