
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header style="background: url('https://ironbankcoffee.com/wp-content/uploads/2013/12/header-coffee.jpg'); ">
    <div class="overlay">
        <img style="width:10%; height:10%" src="https://cdn.shopify.com/s/files/1/2714/0802/files/Taft_Coffee_Beyaz_Logo_200x200_f912eace-e50d-4c5e-84f2-c7e9169f041d_125x.png?v=1580487459" />
        @*<h1 style="font-style:oblique;font-size:55px">TAFT COFFEE CO.</h1>*@
        <h1>Dünyanın En Güçlü Kahvesi</h1>
        <h3>Yüksek Kafein <br />Rahat İçim!</h3>
        <br>
    </div>
</header>

<div style="width:60%; margin-right:auto; margin-left:auto;">

    <h1 style="text-align:center">TÜM ÜRÜNLERİMİZ</h1>
    <hr />
    <table style="display: flex; justify-content: center; padding-bottom: 150px">
        <tr>
            <th style="padding-right: 75px;">

                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_baslangic_seti_250gr_600x.jpg?v=1627412502" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT BAŞLANGIÇ SETİ</h1>
                    <p class="price">149.90TL</p>
                    <p>
                        Kahve Gramajı:
                        250gr
                    </p>
                    <p><button>HEMEN SATIN ALIN</button></p>

                </div>
            </th>
            <th style="padding-right:75px; height:520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_1kg_39889559-203e-492b-9043-065b3901b232_600x.jpg?v=1627412556" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT KAHVE 1 KG</h1>
                    <p class="price">219.90TL</p>
                    <p>
                        Öğütme Metodu:
                        French Press
                    </p>
                    <p style="padding-top:25px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_500gr_0bfaebf5-6b69-4c87-b0c1-5fb52dec72a4_600x.jpg?v=1627412694" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT KAHVE 500 GR</h1>
                    <p class="price">119.90TL</p>
                    <p>
                        Öğütme Metodu:
                        French Press
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_250gr_b1544cb4-dcca-45cc-b74f-6c43b6f01ef8_600x.jpg?v=1627412642" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT KAHVE 250 GR</h1>
                    <p class="price">69.90TL</p>
                    <p>
                        Öğütme Metodu:
                        French Press
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
        </tr>


        <tr>
            <th style="padding-right: 75px;">

                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_termos_seti_250gr_600x.jpg?v=1631460682" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT TERMOS SETİ</h1>
                    <p class="price">229.90TL</p>
                    <p>
                        Kahve Gramajı:
                        250gr
                    </p>
                    <p><button>HEMEN SATIN ALIN</button></p>

                </div>
            </th>
            <th style="padding-right:75px; height:520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_chemex_seti_250gr_yeni_600x.jpg?v=1594296100" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT POUR-OVER SETİ</h1>
                    <p class="price">359.90TL</p>
                    <p>
                        Gramaj:
                        250gr
                    </p>
                    <p style="padding-top:25px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_mill_skerton_degirmen_al_dik_600x.jpg?v=1549488099" alt="Denim Jeans" style="width:100%">
                    <h1>HARİO MİLL SKERTON EL ÖĞÜTÜCÜSÜ</h1>
                    <p class="price">339.90TL</p>
                    <p>
                        Öğütme Metodu:
                        Öğütücü
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_kahve_degirmeni_600x.jpg?v=1582514485" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT KAHVE DEĞİRMENİ</h1>
                    <p class="price">139.90TL</p>
                    <p>
                        Öğütme Metodu:
                        Değirmen
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
        </tr>


        <tr>
            <th style="padding-right: 75px;">

                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_chemex_4cup_600x.jpg?v=1582514487" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT POUR OVER 600ML.</h1>
                    <p class="price">219.90TL</p>
                    <p>
                        Demleme Türü:
                        Pour Over
                    </p>
                    <p><button>HEMEN SATIN ALIN</button></p>

                </div>
            </th>
            <th style="padding-right:75px; height:520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taftcoffee_bodum_dripper_al_dik_600x.jpg?v=1549488096" alt="Denim Jeans" style="width:100%">
                    <h1>BODUM POUR OVER 8 CUP</h1>
                    <p class="price">429.90TL</p>
                    <p>
                        Demleme Türü:
                        Pour Over
                    </p>
                    <p style="padding-top:25px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_v60_ekipman_600x.jpg?v=1582514481" alt="Denim Jeans" style="width:100%">
                    <h1>TAFT DRİPPER</h1>
                    <p class="price">129.90TL</p>
                    <p>
                        Demleme Türü:
                        Dripper
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_v60_filtre_kagidi_600x.jpg?v=1582514488" alt="Denim Jeans" style="width:100%">
                    <h1>V60 FİLTRE KAĞIDI 100'LÜ</h1>
                    <p class="price">59.90TL</p>
                    <p>
                        Filtre Türü:
                        Sık
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
        </tr>


        <tr>
            <th style="padding-right: 75px;">

                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_mokapot_600x.jpg?v=1582514476" alt="Denim Jeans" style="width:100%">
                    <h1>BİALETTİ MOKA POT 2-CUP</h1>
                    <p class="price">339.90TL</p>
                    <p>
                        Demleme Türü:
                        Moka
                    </p>
                    <p><button>HEMEN SATIN ALIN</button></p>

                </div>
            </th>
            <th style="padding-right:75px; height:520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_mokapot_3cup_2814c44c-d1af-4a6d-8bd3-3da5e30ef626_600x.jpg?v=1589167316" alt="Denim Jeans" style="width:100%">
                    <h1>BİALETTİ MOKA POT 4-CUP</h1>
                    <p class="price">449.90TL</p>
                    <p>
                        Demleme Türü:
                        Moka
                    </p>
                    <p style="padding-top:25px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_yuksek_kafeinli_filtre_kahve_caffeinated_kupa_5f131b0c-1d00-462d-8180-fbadeafca466_600x.jpg?v=1610947960" alt="Denim Jeans" style="width:100%">
                    <h1>CAFFEİNATED TAFT KUPA</h1>
                    <p class="price">49.90TL</p>
                    <p>
                        Malzeme:
                        Porselen
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
            <th style="padding-right: 75px; height: 520px">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/2714/0802/products/taft_coffee_french_press_350ml_acik_al_600x.jpg?v=1549488097" alt="Denim Jeans" style="width:100%">
                    <h1>FRENCH PRESS 350ML.</h1>
                    <p class="price">99.90TL</p>
                    <p>
                        Demleme Türü:
                        French Press
                    </p>
                    <p style="padding-top:20px"><button>HEMEN SATIN ALIN</button></p>
                </div>
            </th>
        </tr>
    </table>
    .

</div>


